*{
    margin: 0;
    padding: 0;
}

/* nav ber code start here */

header{
    background-color: #2D236A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    border-bottom: 4px solid #201855de;
    position: sticky;
    top: 0;
}
.heder-text{
    font-size: 20px;
    color: white;
    font-weight: bold;
}
ul{
    display: flex;
}
ul li {
    list-style-type: none;

}
ul li a{
    text-decoration: none;
    color: white;
    padding: 10px 25px;
    transition: 0.5s;
    text-transform: capitalize;
    font-weight: bold;
}
ul li a:hover{
    background-color: #8d1d1d93;
    border-radius: 5px;
}

/* nav ber code finish here */
.section-two-master-maind{
    background-color: #023364;
}
.section-two-master{
    width: 1100px;
    margin: auto;
    padding: 50px 0;
}
.section-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-title span{
    background-color: rgb(214, 214, 214);
    padding: 5px 10px;
    cursor: pointer;
    margin: 0px 10px;
    border-radius: 5px;
    color: black;
}
.section-title h2{
    color: #036103ea;
}
.section-title h5{
    font-size: 20px;
    color: #036103ea;
}

.section-two-single-div-parent{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
    grid-column-gap: 10px;
    padding-top: 100px;
    padding-left: 35px;
}
.section-singe-div{
    width: 300px;
}
.section-singe-div img{
    width: 300px;
    height: 250px;
    transition: 0.5s;
    border-radius: 8px;
    cursor: pointer;
    border: 4px solid #bbbabad7;
}
.section-singe-div:hover img{
    transform: scale(1.1);
}
.section-singe-div div{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    text-transform: capitalize;
}
.section-singe-div div p{
    color: #04aa6D;
    font-weight: bold;
}
.section-singe-div div:nth-child(2){
    padding-left: 15px;
}
.section-two-master-maindtuki{
    width: 1000px;
    margin: 0 auto;
    padding: 25px 0;
}

.section-two-end-div{
    display: flex;
    justify-content: space-between;
}
.section-two-end-div p a{
    display: inline-block;
    text-decoration: none;
    color: #04aa6D;
    background-color: #00a700;
    color: white;
    padding: 8px 15px;
    margin: 10px 0;
    border-radius: 5px;
}

.section-two-end-div div a{
    text-decoration: none;
    color: white;
    background-color: #00a70000;
    display: inline-block;
    margin: 0px 8px;
    padding: 8px 15px;
    border: 1px solid #00a700;
    border-radius: 8px;
}
.section-two-end-div .section-two-ackor-div{
    background-color: #00a700dc;
}
